# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno (¡CRÍTICO PARA LA SEGURIDAD!)
.env

# Bases de datos locales (por si acaso quedó el de SQLite)
*.db
*.sqlite3

# Archivos del sistema operativo y editores
.DS_Store
.vscode/
.idea/